@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .dark-bg {
    background: var(--darkBg);
  }

  .dark-bg-secondary {
    background: var(--darkBgSecondary);
  }

  .light-bg {
    background: var(--lightBg);
  }

  .dark-border {
    @apply border-white 
    border-opacity-20;
  }
}

* {
  -webkit-tap-highlight-color: transparent;
}

.custom-box-shadow {
  box-shadow: 0 2px 4px rgb(0 0 0 / 20%);
}

.searchbox {
  @apply flex 
  absolute 
  top-0 
  left-0 
  right-0 
  z-30 
  h-12 
  rounded-none 
  items-center
  custom-box-shadow 
  md:light-bg
  light-bg
  dark:md:dark-bg
  dark:dark-bg-secondary
  transition-all;

  @screen md {
    @apply relative 
    z-30 
    flex 
    shadow-none 
    rounded-full 
    h-auto;
    /* border  */
    /* dark:dark-border */
    /* border-gray-300; */
  }
}

.input-comp {
  @apply w-full 
  md:h-10 
  h-8 
  rounded-full
  flex 
  relative 
  basis-9/12 
  md:basis-full;
}
.input-comp-resp {
  @apply basis-10/12 md:basis-full;
}

.input {
  @apply w-full 
  pl-5
  transition-all
  md:pr-9 
  block 
  md:border
  border-gray-300
  dark:dark-border
  rounded-r-none 
  rounded-l-full 
  bg-gray-100 
  dark:md:dark-bg
  md:light-bg
  dark:bg-white
  dark:bg-opacity-10
  text-black
  dark:text-white
  outline-none;
}

.input-focus {
  @apply md:border-[#1F62B9]
  transform-none
  dark:md:border-[#1F62B9]
  md:shadow-inner;
}

.input-extend {
  @apply absolute 
  left-0 
  right-0 
  top-0 
  w-full 
  h-12 
  py-2 
  z-20;
}

.input-search-button {
  @apply w-20 
  bg-gray-100
  dark:bg-white
  dark:bg-opacity-10
  flex 
  items-center 
  justify-center 
  rounded-r-full 
  md:border
  md:border-gray-300
  md:border-l-0
  dark:dark-border
  md:hover:bg-gray-200 
  dark:md:dark-bg-secondary
  /* dark:md:bg-white */
  /* dark:md:bg-opacity-10 */
  /* dark:bg-white */
  /* dark:bg-opacity-10 */
  transition-all;
}

.input-search-icon {
  @apply absolute 
  top-0
  md:bg-white
  dark:md:dark-bg
  h-10 
  w-10 
  flex 
  items-center 
  justify-center 
  -left-[21px] 
  border
  /* md:border-l-gray-300  */
  /* md:border-y-gray-300 */
  md:border-l-[#1F62B9]
  md:border-y-[#1F62B9]
  md:shadow-inner
  border-r-0 
  rounded-l-full 
  z-30;
}

.input-clear-button {
  @apply w-8 
  h-8 
  p-1 
  absolute 
  md:right-[71px] 
  right-12 
  md:mt-[4px] 
  rounded-full
  dark:md:hover:bg-white
  dark:md:hover:bg-opacity-10
  md:hover:bg-black 
  md:hover:bg-opacity-10;
}

.input-back-button {
  @apply basis-1/12 
  px-4;
}

.search-popup {
  @apply absolute 
  top-14 
  bg-gray-500 
  text-white 
  text-xs 
  px-2 
  py-2 
  rounded-[4px] 
  bg-opacity-80;
}

.resp-background {
  @apply absolute 
  top-10 
  left-0 
  right-0 
  h-screen 
  bg-black 
  bg-opacity-20;
}

.results {
  @apply md:w-[450px] 
  w-full 
  absolute 
  md:top-11 
  top-12
  md:-left-[19px] 
  left-0 
  right-0   
  border
  border-gray-200 
  dark:border-none
  md:rounded-xl 
  rounded-none 
  md:py-3 
  py-0 
  bg-white
  dark:md:bg-white
  dark:dark-bg-secondary
  dark:text-white
  dark:md:text-black
  custom-box-shadow;
}

.results-li {
  @apply flex 
  items-center 
  md:justify-start 
  justify-between 
  md:hover:bg-[#00000010]
  cursor-default 
  h-9 
  md:p-0 
  pl-2
  md:border-none 
  border-b
  border-gray-100
  dark:border-white
  dark:border-opacity-10
  last:border-b-0;
}

.results-li-icon {
  @apply w-10 
  flex 
  justify-center;
}

.ghost {
  @apply md:hidden 
  h-2 
  absolute 
  block 
  left-0 
  right-0 
  -top-1 
  dark:dark-bg-secondary
  bg-white;
}

.arrow {
  @apply bg-gray-100 
  dark:md:bg-red-600
  dark:bg-white
  dark:bg-opacity-10
  h-full 
  w-8 
  flex 
  items-center 
  justify-center;

  @screen md {
    @apply hidden;
  }
}
